table{
    border: 3px;
}
h1{
    font-size: 40px;
    color: rgb(171, 5, 151);
}
table{
    border: 4px solid black;
    font-size: 50px;
    background-color: rgb(159, 238, 157);
    border-radius: 10px;
}
td{
    border: 2px solid black;
    border-radius: 10px;
}
th{
    border: 2px solid black;
    border-radius: 10px;
    background-color: cadetblue;
}
  section{
    background-image: url(imagetoHTML.ed.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }
tr{
    border: 2px solid black;
}
section{
    height: 100vh;
    margin: 5pc ;
    padding: 5pc;
    border:5px solid rgb(156, 201, 166);
    border-radius: 80px;
}
body{
  
    background-image: url(imagetoHTML.ed.webp);


}
